// --------------------------------
// Custom Style - Your bespoke style
// --------------------------------
@use 'base' as *;
@use 'custom-style/colors';
@use 'custom-style/spacing';
@use 'custom-style/shared-styles';
@use 'custom-style/typography';
@use 'custom-style/icons';
@use 'custom-style/buttons';
@use 'custom-style/forms';
@use 'custom-style/util';


//
// MENU SECTION
//

.f-header__nav--is-visible {
  .socials__btn {
    display: inline;

    a {
      float: left;
      margin: 15px 15px 10px 0;
      --size: 2em;

      .icon {
        font-size: 0.9em;
      }
    }
  }

  .cta__btn {
    border-bottom: none;

    a {
      background-color: #fcc14d;
      padding: 0.6em;
    }
  }
}
@include breakpoint(sm) {
  .cta__btn a {
    padding: 0.3em 0.8em;
    margin-left: 10px;
  }
}



//
// HERO Section
//

.hero-video-bg {
  background-color: black;
  .hero-video-bg__video { opacity: .8; }

}



//
// BUTTONS
//

.color-purple {
  color: #421660;
}

.btn {
  box-shadow: none !important;
}

.btn--yellow {
  background-color: #fcc14d;
  color: var(--color-secondary);
}

.btn--lightblue {
  background-color: var(--color-accent);
  color: #fff;
}

.btn--yellow-clear {
  border-color: var(--color-primary);
}

.btn--white {
  border-color: #fff;
  color: #fff;
  background: transparent;
}

.btn--purple {
  border-color: #421660;
  color: #421660;
  background: transparent;
}

.btn--white-green {
  background-color: #fff;
  border-color: var(--color-secondary);
  color: var(--color-secondary);
}


//
// DRAG SECTION
//

.drag-section {
  position: relative;
  background: transparent;
  z-index: 10;
  height: 110px;
  background-color: #f5f5f5;

  .drag-gallery {
    top: -30px;
  }
}
@include breakpoint(sm) {
  .drag-section {
    height: 170px;

    .drag-gallery {
      top: -60px;
    }
  }
}
@include breakpoint(md) {
  .drag-section {
    height: 210px;

    .drag-gallery {
      top: -80px;
    }
  }
}


//
// HERO2 SECTION
//

.hero2-section {
  background-size: cover;
  background-position: -260px;

  @include breakpoint(xs) {
    background-position: 0;
  }

  .logo-image {
    max-width: 200px;
    margin-bottom: 30px;
  }


}


//
// SCROLLING SECTION
//

.scrolling-section {
  background-color: #eee;
  overflow: hidden;
  position: relative;
  height: 80vw;

  @include breakpoint(md) {
    height: 60vw;
  }

  @include breakpoint(lg) {
    max-height: 700px;
  }

  .text-container {
    transform: skewY(-5deg);
  }

  @keyframes text-scrolling {
    0% {
      transform: translateX(-100%);
      opacity: 0%;
    }
    1% {
      transform: translateX(-99%);
      opacity: 100%;
    }
    99% {
      transform: translateX(-1%);
      opacity: 100%;
    }
    100% {
      transform: translateX(0%);
      opacity: 0%;
    }
  }

  .animate-text {
    animation: text-scrolling 10s forwards linear 0.1s infinite;
    will-change: transform;
    display: block;
    position: relative;
    white-space: nowrap;
    color: rgba(255,255,255,0);
    margin: 25px 0;

    span {
      font-size: 50px;
      -webkit-text-stroke: 2px var(--color-secondary);
      text-transform: uppercase;
      display: inline-block;
      line-height: 0.75;
      min-width: auto;
      font-weight: 100;
      font-family: "Arial"
    }
  }

  .animate-text.left {
    animation-direction: reverse;
  }

  .image-flip {

    position: absolute;
    margin: 0 auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    .image-container {
      position: relative;
      height: 55vw; /* Adjust this value to match your desired height */
      overflow: hidden;
      margin-top: 40px;
    }

    .image-container img {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      transition: opacity 0.5s;
      right: 0;
      margin: 0 auto;
      width: 50%;
      max-width: 500px;
    }

    .image-container img.active {
      opacity: 1;
    }

  }
}

@include breakpoint(sm) {
  .animate-text { margin: 65px 0 !important; }
  .animate-text span { font-size: 100px !important; }
  .image-flip .image-container { margin-top: 60px !important; }
}


//
// OVERSCROLL SECTION
//

.overscroll-section {

  background-color: #fcc14d;
  background-attachment: fixed;
  background-size: contain;
  h1 { color: var(--color-secondary); }

  .image-zoom, .image-zoom__preview { border-radius: 80px; }


}


//
// FAQ SECTION
//

.faq-section {
    background-position: 50% 50%;
    background-attachment: fixed;

  h1, h3 { color: var(--color-secondary); }

  .accordion__item {
    border-style: dotted;
    border: none;
  }

  .accordion__header {
    background-color: var(--color-tertiary);
    margin-top: 5px;
    border: none;
    border-radius: 5px;
  }

  .accordion__item--is-open > .accordion__panel {
    background-color: rgba(255,255,255,.6);
    display: block;
  }

}



//
// Social Drag Section
//

.social-drag-section {

  background-position: top;

  h2 { color: var(--color-secondary); }

  .socials__btn a {
    --size: 2.2em;
  }

  .socials__btn a .icon {
    font-size: 1.1em;
  }

  .f-header__item {
    border-bottom: none !important;
    margin-right: var(--space-xs);
  }

  .drag-gallery {
    margin-bottom: 40px;
  }



}


//
// CONTENTS SECTION
//

.contents-section {

  h1 { color: var(--color-secondary); }

  li b {
    font-weight: bold;
    width: 30px;
    display: inline-block;
    color: var(--color-secondary);
  }

  li {
    font-size: .9em;
  }

}



//
// CTA SECTION
//

.section-cta {

  background-position: -670px -210px;

  h1, p { color: var(--color-primary); }
  .btn { max-width: 200px; margin-top: 15px; }

  @include breakpoint(sm) {
    .btn { margin-top: 0; }
    background-position: 0 0;
  }

}


//
// FOOTER
//

.footer-v5 {

  background-color: var(--color-secondary);

  .footer-v5__link { color: var(--color-accent); }
  .form-control { margin-right: 5px; max-width: 350px; }

  .border-bottom,
  .border-top { border-color: rgba(255,255,255,.2) }

  .logo-image {
    max-width: 140px;
    margin-top: 20px;

    @include breakpoint(xs) {
      max-width: 200px;
      margin-top: 50px;
    }
  }

  .socials__btn a {
    --size: 2.25em;
    background-color: #fcc14d;
    margin-right: 15px;
    margin-left: 0;

    @include breakpoint(xs) {
      margin-left: 15px;
      margin-right: 0px;
    }

  }
  .socials__btn a .icon {
    font-size: 1.3em;
    color: var(--color-secondary);
  }

}
